.pagination
  %ul
    %li{ 'ng-class' => '{disabled: pagination.isFirstPage()}' }
      %a.first-page{ 'ng-click' => 'pagination.firstPage()' } «
    %li{ 'ng-class' => '{disabled: pagination.isFirstPage()}' }
      %a.previous-page{ 'ng-click' => 'pagination.previousPage()' } ‹
    %li{ 'ng-repeat' => 'page in pagination.pageLinks', 'ng-class' => '{disabled: page == pagination.currentPage}'}
      %a{ 'ng-click' => 'pagination.selectPage(page)' } {{page + 1}}
    %li{ 'ng-class' => '{disabled: pagination.isLastPage()}' }
      %a.next-page{ 'ng-click' => 'pagination.nextPage()' } ›
    %li{ 'ng-class' => '{disabled: pagination.isLastPage()}' }
      %a.last-page{ 'ng-click' => 'pagination.lastPage()' } »
