.span12
  %h5 Search Parameters
  %ul
    - if @parameters
      - @parameters.each do |param|
        %li.search-parameter
          = param[:name]
          %span.pull-right.search-value
            = "#{param[:value]}°"