.row-fluid
  .span12.well
    %h4 Search Parameters
    - if @parameters
      %ul
        - @parameters.each do |param|
          %li.search-parameter
            %label= param[:name]
            .search-value= "#{param[:value]}°"
