#search-results.row-fluid{ 'ng-hide' => 'objects == undefined || objects.length == 0' }
  .span12
    %pagination{ 'max-page-links' => '10', 'items-per-page' => '50', items: 'objects' }

      = render 'pagination'

      %table.table.table-striped.table-bordered
        %thead
          %tr
            - @fields.each do |field|
              %th
                = field[:name]
        %tbody
          %tr{ 'ng-repeat' => 'obj in pagination.pageItems' }
            - @fields.each do |field|
              %td
                = "{{obj['#{field[:field]}']}}"