.row-fluid
  .span12.well
    %h4 Search Parameters
    %ul
      - @parameters.each do |param|
        %li.search-parameter
          = param[:name]
          %span.pull-right.search-value
            = "#{param[:value]}°"
