%section#search.row-fluid

  .span9
    %h3 Search Details

    %a.btn{ href: '', 'ng-click' => 'selectObject(undefined)' }
      Back

    = render 'search_details_table'

  .aside.span3
    = render 'search_parameters'
    = render 'help'