%p
  The bulk catalogue search will return all objects in the SkyMapper catalogue that fall within the search radius of the specified right ascension and declination points found in the uploaded csv file. All values are in decimal degrees.

.form-container{ 'ng-controller' => 'SearchController' }
  %form#bulk_catalogue_search_form.cancel{ name: 'bulk_catalogue_search_form', action: bulk_catalogue_download_path, method: 'post', enctype: 'multipart/form-data', novalidate: '' }
    %fieldset
      .row-fluid
        .span6
          %label{ for: :catalogue }
            SkyMapper survey:
          %select#catalogue{ 'ng-model' => 'form.catalogue', name: 'catalogue', required: '',
            'ng-init' => "setInput('catalogue', '#{session_param('bulk-catalogue', :catalogue)}')" }
            %option{ value: :fs }
              Five-Second Survey
            %option{ value: :ms }
              Main Survey
          %ul.error{ 'ng-show' => '(submitted || bulk_catalogue_search_form.catalogue.$dirty) && bulk_catalogue_search_form.catalogue.$invalid' }
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.catalogue.$error.required' }
              This field is required.

      .row-fluid
        .span6
          %label{ for: :file }
            File (csv):
          %input#file{ type: 'file', name: 'file', 'ng-model' => 'form.file', 'file-required' => '', accept: 'text/csv' }
          %ul.error{ 'ng-show' => '(submitted || bulk_catalogue_search_form.file.$dirty) && bulk_catalogue_search_form.file.$invalid' }
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.file.$error.fileRequired' }
              This field is required.

        .span6
          %label{ for: :type }
            Download format:
          %select#type{ 'ng-model' => 'form.type', name: 'type', required: '',
            'ng-init' => "setInput('type', '#{session_param('bulk-catalogue', :type)}')" }
            - Query::FILE_TYPE.each do |type|
              %option{ value: type }= type
          %ul.error{ 'ng-show' => '(submitted || bulk_catalogue_search_form.type.$dirty) && bulk_catalogue_search_form.type.$invalid' }
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.type.$error.required' }
              This field is required.

      .row-fluid
        .span6
          %label{ for: :sr }
            Search radius (deg):
          %input#sr{ type: 'text', name: 'sr', 'ng-model' => 'form.sr', required: '', range: '(0, 0.05]', decimal: 8,
            'ng-init' => "setInput('sr', '#{session_param('bulk-catalogue', :sr)}')" }
          %ul.error{ 'ng-show' => '(submitted || bulk_catalogue_search_form.sr.$dirty) && bulk_catalogue_search_form.sr.$invalid' }
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.sr.$error.required' }
              This field is required.
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.sr.$error.range' }
              This field should be a number greater than 0 and less than or equal to 0.05.
            %li.error{ 'ng-show' => 'bulk_catalogue_search_form.sr.$error.decimal' }
              This field should be a number with 8 decimal places.

      .form-actions
        %input#submit.btn.btn-primary{ type: 'submit', value: 'Search SkyMapper', 'ng-click' => "submit('bulk_catalogue_search_form', $event)"  }

