%p
  The rectangular search will return all objects in the SkyMapper catalogue that fall within the specified right ascension and declination ranges.

.form-container{ 'ng-controller' => 'SearchController' }
  %form#rectangular_search_form.cancel{ name: 'rectangular_search_form', 'ng-submit' => "submit('rectangular_search_form', '#{rectangular_search_path}')", novalidate: '' }
    %fieldset
      .row-fluid
        .span6
          %label{ for: :catalogue }
            SkyMapper survey:
          %select#catalogue{ 'ng-model' => 'form.catalogue', name: 'catalogue', required: '' }
            %option{ value: :fs }
              Five-Second Survey
            %option{ value: :ms }
              Main Survey
          .error{ 'ng-show' => '(submitted || rectangular_search_form.catalogue.$dirty) && rectangular_search_form.catalogue.$invalid' }
            %small.error{ 'ng-show' => 'rectangular_search_form.catalogue.$error.required' }
              This field is required.

      .row-fluid
        .span6
          %label{ for: :ra_min }
            Right ascension min (deg):
          %input#ra_min{ type: 'text', name: 'ra_min', 'ng-model' => 'form.ra_min', required: '', range: '[0, 360)', decimal: 5 }
          .error{ 'ng-show' => '(submitted || rectangular_search_form.ra_min.$dirty) && rectangular_search_form.ra_min.$invalid' }
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_min.$error.required' }
              This field is required.
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_min.$error.range' }
              This field should be a number greater than or equal to 0 and less than 360.
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_min.$error.decimal' }
              This field should be a number with 5 decimal places.

        .span6
          %label{ for: :ra_max }
            Right ascension max (deg):
          %input#ra_max{ type: 'text', name: 'ra_max', 'ng-model' => 'form.ra_max', required: '', range: "{{form.ra_min | isNumber:'('+form.ra_min:'[0'}}, 360)", decimal: 5, 'dependent-on' => 'form.ra_min' }
          .error{ 'ng-show' => '(submitted || rectangular_search_form.ra_max.$dirty) && rectangular_search_form.ra_max.$invalid' }
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_max.$error.required' }
              This field is required.
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_max.$error.range' }

              This field should be a number greater than {{form.ra_min | isNumber:form.ra_min:'or equal to 0'}} and less than 360.
            %small.error{ 'ng-show' => 'rectangular_search_form.ra_max.$error.decimal' }
              This field should be a number with 5 decimal places.

      .row-fluid
        .span6
          %label{ for: :dec_min }
            Declination min (deg):
          %input#dec_min{ type: 'text', name: 'dec_min', 'ng-model' => 'form.dec_min', required: '', range: '[-90, 90]', decimal: 5 }
          .error{ 'ng-show' => '(submitted || rectangular_search_form.dec_min.$dirty) && rectangular_search_form.dec_min.$invalid' }
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_min.$error.required' }
              This field is required.
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_min.$error.range' }
              This field should be a number greater than or equal to -90 and less than or equal to 90.
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_min.$error.decimal' }
              This field should be a number with 5 decimal places.

        .span6
          %label{ for: :dec_max }
            Declination max (deg):
          %input#dec_max{ type: 'text', name: 'dec_max', 'ng-model' => 'form.dec_max', required: '', range: "{{form.dec_min | isNumber:'('+form.dec_min:'[-90'}}, 90]", decimal: 5, 'dependent-on' => 'form.dec_min' }
          .error{ 'ng-show' => '(submitted || rectangular_search_form.dec_max.$dirty) && rectangular_search_form.dec_max.$invalid' }
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_max.$error.required' }
              This field is required.
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_max.$error.range' }
              This field should be a number greater than {{form.dec_min | isNumber:form.dec_min:'or equal to -90'}} and less than or equal to 90.
            %small.error{ 'ng-show' => 'rectangular_search_form.dec_max.$error.decimal' }
              This field should be a number with 5 decimal places.

    .form-actions
      %input.btn.btn-primary{ type: 'submit', value: 'Search SkyMapper' }

  %table#results.table.table-striped.table-condensed
    %thead
      %tr
        %td{ 'ng-repeat' => '(field, value) in objects[0]' }
          {{field}}
    %tbody
      %tr{ 'ng-repeat' => 'obj in objects' }
        %td{ 'ng-repeat' => '(field, value) in obj' }
          {{value}}
