%p
  The radial search will return all objects in the SkyMapper catalogue that fall within the search radius of the specified right ascension and declination. All values are in decimal degrees.
%p
  The system currently supports a maximum search radius of 10°.

%form#radial-search{ 'ng-controller' => 'RadialSearchController' }
  .row-fluid
    .span6
      %label{ for: :catalogue }
        SkyMapper Survey:
      %select#catalogue{ 'ng-model' => 'form.catalogue' }
        %option{ value: :fs }
          Five-Second Survey
        %option{ value: :ms }
          Main Survey

  .row-fluid
    .span6
      %label{ for: :ra }
        Right Ascension (deg):
      %input#ra{ 'ng-model' => 'form.ra' }

    .span6
      %label{ for: :dec }
        Declination (deg):
      %input#dec{ 'ng-model' => 'form.dec' }

  .row-fluid
    .span6
      %label{ for: :sr }
        Search Radius (deg):
      %input#sr{ 'ng-model' => 'form.sr' }

  .form-actions
    %input.btn.btn-primary{ type: 'submit', value: 'Search SkyMapper', 'ng-click' => 'peformRadialSearch()' }
