%div#download-results{ 'ng-controller' => 'SearchResultsController', 'ng-init' => "downloadResults('#{@query_path}')" }

  %section.row-fluid

    .span9
      %h3 Downloading Results

      %a.btn{ href: root_path }
        Back

    .aside.span3
      = render 'help'